{% comment %}{% extends 'app/base.html' %}
{% block content %} {% endcomment %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
{% comment %} {% if user.is_authenticated %} 
    <p>You are signed in</p>
{% else %}
    <p>You are not signed in</p>
{% endcomment %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
                Barcode:
                {{ form.username }}
                PIN:
                {{ form.password }}
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% comment %}{% endblock content %}{% endcomment %}
