{% extends 'app/home.html' %}
{% block content %}
    <h1>How Do I...?</h1>
    <h5>Catalogue Help</h5>
    <ul>
        <li><h5><a href="">See new items in the catalogue</a></h5></li>
    </ul>
    <h5>My GSPL Help</h5>
    <ul>
        <li><h5><a href="">Access my personal files</a></h5></li>
        <li><h5><a href="">Get a PIN</a></h5></li>
        <li><h5><a href="">Reading History</a></h5></li>
        <li><h5><a href="">Renew my library card</a></h5></li>
        <li><h5><a href="">View checked out items</a></h5></li>
        <li><h5><a href="">Pay a library fine</a></h5></li>
        <li><h5><a href="">View unpaid library fines</a></h5></li>
    </ul>
    <h5>Request Material Help
    <ul>
        <li><h5><a href="">Borrow through Interlibrary Loan</a></h5></li>
        <li><h5><a href="">Suggest a book / CD / DVD</a></h5></li>
        <li><h5><a href="">Suggest a downloadable title</a></h5></li>
    </ul>
    <h5>Library Technology Help
    <ul>
        <li><h5><a href="">BiblioMobile</a></h5></li>
        <li><h5><a href="">Book a computer</a></h5></li>
        <li><h5><a href="">Use computers at the library</a></h5></li>
        <li><h5><a href="">Use WiFi in the library</a></h5></li>
    </ul>
    <h5>Miscellaneous Help</h5>
    <ul>
        <li><h5><a href="">Ask a Question</a></h5></li>
        <li><h5><a href="">Get a library card</a></h5></li>
        <li><h5><a href="">Leave feedback for the library</a></h5></li>
        <li><h5><a href="">Rent a meeting room</a></h5></li>
        <li><h5><a href="">Return library items</a></h5></li>
    </ul>
{% endblock content %}
